* {
  font-family: Dosis, sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: white;
  color: black;
  margin: 0;
}

#theme {
  width: 100vw;
  height: 100vh;
}

.dark-mode-theme {
  background: rgb(40, 40, 40);
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgba(169, 128, 195, 0.996);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(169, 128, 195, 0.996);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.main {
  padding: 1% 5% 5% 5%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

select {
  font-family: 'Lato Black';
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.dark-mode-theme select {
  background-color: #313131;
  color: white;
}

option:before {
  padding: 50px;
}

button {
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  height: 50px;
  width: 296px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid rgba(169, 128, 195, 0.996);
  background: #fafafa;
  box-shadow: rgb(255 255 255) 0px 0px 0px 0px;
  font-family: 'Lato Black', sans-serif;
  text-align: center;
  font-weight: 700;
  color: rgba(41, 20, 65, 0.996);
}

.content {
  padding: 20px;
  background-color: #ccc;
  border-radius: 10px;
}

.dark-mode-theme .content {
  background-color: #505050;
}

.tab {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.tab button {
  width: 100%;
  border-radius: 10px;
  border: none;
}

button:hover,
.dark-mode-theme button:hover {
  background-color: rgba(100, 106, 177, 0.996094);
  color: white;
}

.dark-mode-theme button,
.dark-mode-theme input {
  background-color: #464646;
  color: white;
}

.button-selected,
.dark-mode-theme .button-selected {
  background-color: rgba(100, 106, 177, 0.996094);
  color: white;
}

.tab-content {
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.tab-content h1 {
  text-align: center;
}

.hidden {
  display: none;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.tab-content button {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  border-radius: 10px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@-webkit-keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

#snackbar.success {
  background-color: rgb(51, 129, 51);
}

#snackbar.error {
  background-color: #c6312d;
}
